<div *ngFor="let child of children">
    <mat-card class="children-card">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon>account_circle</mat-icon>
            </div>
            <mat-card-title>{{ child.name_children }} {{ child.surname_children }}</mat-card-title>
            <mat-card-subtitle>Coins: {{ child.coins_children }}</mat-card-subtitle>
        </mat-card-header>
        <div class="example-button-container">
            <button mat-mini-fab aria-label="Tasks" [routerLink]="['/parents/tasks/', child._id]" (click)="sendMessage()">
                <mat-icon>task</mat-icon>
            </button>
            <button mat-mini-fab aria-label="Rewards" [routerLink]="['/parents/rewards/', child._id]">
                <mat-icon>stars</mat-icon>
            </button>
        </div>
    </mat-card>
</div>
